@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scaleBox {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.3);
  }
}

.search-animated-border {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-animated-border::before {
  content: "";
  display: block;
  background: linear-gradient(90deg, #6b7280 0%, #4b5563 100%);
  height: 300px;
  width: 80vw;
  position: absolute;
  animation: scaleBox 1.5s ease-in-out infinite alternate;
  z-index: 0;
}

.search-inner {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 2px;
}

@keyframes expandAndFade {
  0% {
    transform: scale(0);
    opacity: 0.9;
  }
  30% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.loading-circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(107, 114, 128, 0.3) 0%,
    rgba(107, 114, 128, 0.1) 70%,
    transparent 100%
  );
  animation: expandAndFade linear forwards;
  pointer-events: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-emoji {
  animation: blink 3s ease-in-out infinite;
  pointer-events: none;
}
